@model BOL.SingIn

@{
    ViewBag.Title = "Resset Password";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm("UpdatePassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="site-section bg-light">
        <div class="container">
            <div class="row" style="margin-top: -6%;margin-bottom: -6%;">
                <div class="col-lg-3">
                </div>
                <div class="col-md-12 col-lg-6 mb-5">
                    <form action="#" class="p-5 bg-white">
                        <div class="col-md-7 text-center">
                            <h3 class="mb-5">New User</h3>
                            @if (TempData["Msg"] != null)
                            {
                                <h5 class="mb-5" style="color:green">@TempData["Msg"].ToString()</h5>
                            }
                            @if (TempData["Fail"] != null)
                            {
                                <h5 class="mb-5" style="color:red">@TempData["Fail"].ToString()</h5>
                            }
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="password">Password</label>
                                @Html.EditorFor(model => model.resetPassword.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.resetPassword.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="email">Confirm Password</label>
                                @Html.EditorFor(model => model.resetPassword.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.resetPassword.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Update Password" class="btn btn-primary pill px-4 py-2">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>
}
